<div class="jumbotron jumbotron-fluid bg-dark" >
    <div class="container text-light">
        
      <h1 class="display-4"> <img src="https://www.qualtrics.com/m/assets/blog/wp-content/uploads/2018/08/shutterstock_1068141515.jpg" alt="..." class="rounded mr-3" style="width: 80px; height: 80px;">BOOKMARKERS</h1>
      <p class="lead ml-5 pl-5">Your infromation will be saved successfully.</p>
    </div>
  </div>
<form id="myform" method="POST" action="/users/bookmark">
    <div class="form-group ml-5 mr-5">
      <label for="exampleInputEmail1">Site Name</label>
      <input type="text" class="form-control" name="sitename" id="sitename" aria-describedby="emailHelp" placeholder="website name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group ml-5 mr-5">
      <label for="exampleInputPassword1 ml-5 mr-5">Site URL</label>
      <input type="text" class="form-control" name="siteurl" id="siteurl" placeholder="Site URL">
    </div>
    
    <div class="input-group col-sm-6 ml-5 mt-5">
      <label for="" class="mr-3">Tags:</label>
      <input type="text" id="tag1" name="tag1" class="form-control mr-3"  placeholder="tags">
      <input type="text" id="tag2" name="tag2" class="form-control mr-3" placeholder="tags">
      <input type="text" id="tag3" name="tag3" class="form-control" placeholder="tags">
    </div>
    
    <button type="submit" class="btn btn-primary m-5">Submit</button>

    

 
  </form>


